/*
 Tamplate Name: Demo template
Aurthor Name: Nazmul Hasan
Aurthor Email: ndr889571@gmail.com
Website Link: nazmulhasan24.com
Github Link: Github.com/Nazmul8536
*/
/* slider section css */

.slides-navigation a.prev,
.slides-navigation a.next{
    height: 47px;
    width:47px;
    background-size: cover;
    background-repeat: no-repeat;
}
.slides-navigation{
    z-index: 5;
}
.slides-navigation a.prev{
    background-image: url(../images/icons/prev.png);
    left: 20px;
}
.slides-navigation a.next{
    background-image: url(../images/icons/next.png);
    right: 20px;
}
.overlay{
    height:100%;
    width:100%;
    z-index: 3;
   position: absolute;
   background: rgba(0, 0, 0, .3);
}
div.textMassage{
    position: absolute;
    z-index:4;
    width:100%;
    height:250px;
    top:40%;
    text-align: center
}

div.textMassage div.heading p.heading_main{
    color:#fff;
    font-size: 2.5em;
    letter-spacing: .4em;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;

}div.textMassage div.heading p.heading_sub{
    color:#fff;
    font-size: .8em;
    letter-spacing: .4em;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;

}
/* about Section css */
.aboutSection{
    padding:100px 0;
}
.aboutImage{
    width:100%;
}
.aboutSection h3,
.aboutSection p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}